$accent: #d89351;
$text: #959595;

%circe-bold {
  font-family: 'Circe-Bold', sans-serif;
  font-weight: 700;
}

%circe-regular {
  font-family: 'Circe-Regular', sans-serif;
  font-weight: 400;
}